{% extends 'base.html' %}
{% load static %}
{% load form_tags %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/form_styles.css' %}" />
{% endblock %}

{% block content %}
  <div class="container my-5">
    <h3 class="text-center mb-4">Editar publicación</h3>

    <form method="post">
      {% csrf_token %}
      {% include 'form_base.html' %}

      <div class="d-flex justify-content-between mt-4">
        <a href="/" class="btn btn-outline-secondary">Cancelar</a>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
  </div>
{% endblock %}
